<?xml version="1.0"?>
<model>
  <name>phoenix2400</name>
  <version>1.0</version>
  <sdf version='1.5'>phoenix2400.sdf</sdf>
  <author>
   <name>Alexandre Borowczyk</name>
   <email>alexandre.borowczyk@shearwater.ai</email>
  </author>
  <description>
    This is a model of a phoenix2400 model.
  </description>
</model>
